@model IEnumerable<TrackingDeviceMonitor.DeviceTrackingServiceReference.TrackingDevice>
@{
    ViewBag.Title = "Device Tracking Monitor";
}


<div>
    <br />
    <h3>Tracker Information:</h3>
    @foreach (string attribute in ViewBag.TrackerInfo)
    {
        <p>@attribute</p>
    }
</div>

<div>
    <div id="googleMap" style="width:100%;height:400px;"></div>
    <script>
        function myMap() {
            var coords = new google.maps.LatLng(@ViewBag.Lat, @ViewBag.Lng)
            var start  = new google.maps.LatLng(@ViewBag.sLat, @ViewBag.sLng)
            var end = new google.maps.LatLng(@ViewBag.eLat, @ViewBag.eLng);

            var truck = {
                url: '~/Icons/truck3.png'
            };

            var source = {
                url: '~/Icons/star-3.png'
            }

            var destination = {
                url: '~/Icons/asterisco.png'
            }
            var mapProp = {
                center: coords,
                zoom: 14,
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            var marker = new google.maps.Marker({
                icon: '/Icons/truck3.png',
                position: coords,
                map: map,
                title: 'Tracker'
            });
            marker = new google.maps.Marker({
                icon: '/Icons/star-3.png',
                position: start,
                map: map,
                title: 'Start'
            });
            marker = new google.maps.Marker({
                icon: '/Icons/asterisco.png',
                position: end,
                map: map,
                title: 'Destination'
            });

        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz4PACaSGsEmcsIqvGORN9vOUcOTni3kY&callback=myMap"></script>
</div>

<div>
</div>